body{
    font-weight: bold;  
}
h1{
    margin:0px;
    font-weight: bold; 
}


input{
    padding: 0px;
}
.container{
    width: 30%;
    height: 100%;
    margin: auto;
    border-style: solid;
    border-radius: 5px;
    padding: 20px;
    min-height:500px;   
    overflow:auto;

}
.header{
   width:100%;
   height: 55px;
   text-align: center;
}
.item{
    float: left;
    height: 160px;
    width: 100%;
}

.item .rowitem{
    width: 100%;
    text-align: left;
}

.item .rowtitle{
    width: 100%;
    float: left;
}

.item .rowtitle input{
    width: 70%;
    height: 34px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.item .rowtitle button{
    width: 25%;
    height: 34px;
    
}

.item .rowdescription input{
    width: 100%;
    height: 34px;
    margin-right: 10px;
    margin-bottom: 25px;
}

.item .small-line{
    border:solid 1px;
    display: block;
    width: 50%;
    margin: auto;
}

.notes{
    float: left;
    height: 130px;
    width: 100%;
    
     border:solid 1px;
    border-radius: 2px;
    margin-bottom: 10px;
}
.notes .ColumnData{
    float: left;
    width:90%;
    height: 100%;
    margin-bottom: 10px;
}
h5{
    margin-top: 13px;
    padding-left: 10px;
    color:grey;
}
h3{
    margin-bottom: 23px;
    padding-left: 10px;

}

.notes h1 {
    padding-left: 10px;
}
.notes .ColumnClose{
    float:left;
    width: 10%;
    height: 100%;
    margin-bottom: 10px;
}
.notes .closecontainer {
    border-left: 1px solid;
    color:grey;
    margin-top: 50%;
    height: 70%

}
.notes .ColumnClose .closecontainer button{
    
    width: 20%;
    height: 20%;
    margin: 100% 25%;
    background-color: grey;
    font-size: 10px;



}



