/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#container {
    width: 100%;
    min-height: 768px;
}

#container .tj-section {
    width: 100%;
    display: block;
    height: 670px;
    border: 1px solid #000;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/header/header-img.png');
    background-size: cover;
}

#container .tj-section .column {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

#container .tj-section .column .header {
    float: left;
    width: 100%;
    height: 80px;
}

#container .header .column-left-sm {
    float: left;
    width: 130px;
    height: 100%;
}

#container .header .column-right-lg { 
    float: left;
    width: 830px;
    height: 100%;
}

.column-left-sm .logo {
    width: 128px;
    height: 50px;
    margin: 15px 0 0 0;
    display: block;
}

.column-right-lg .menubar {
    float: left;
    width: 100%;
    height: 100%;
}

.column-right-lg .menubar > ul {
    margin: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    text-align: right;
    padding: 30px 0 0 0;
}

.column-right-lg .menubar > ul > li {
    display: inline;
    margin: 0 20px 0 0;
}

.column-right-lg .menubar > ul > li > a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.column-right-lg .menubar > ul > li > a:hover, 
.column-right-lg .menubar > ul > li > a.active {
    color: #00e0d0;
}

#container .row {
    float: left;
    width: 100%;
    height: auto;
}

#container .row .tj-section-top-text {
    float: left;
    width: 100%;
    padding: 110px 0;
    text-align: center;
}

#container .row .tj-section-top-text h1 {
    color: #FFF;
}

#container .row .tj-section-top-text p {
    color: #FFF;
    margin: 0 0 55px 0;
}

.separator {
    width: 50px;
    height: 1px;
    margin: 30px auto;
    display: block;
    border-top: 1px solid #00e0d0; 
}

.button-sm-dark {
    width: 120px;
    height: 40px;
    color: #00e0d0;
    font-size: 12px;
    background: none;
    border-radius: 2px;
    border: 1px solid #00e0d0;
}

.button-sm-dark:hover {
    color: #FFF;
    border: 1px solid #FFF;
}

.carousel-controller {
    width: 70px;
    height: 30px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.carousel-controller li {
    float: left;
    display: inline;
    margin: 0 4px;
}

.carousel-controller li a {
    width: 7px;
    height: 7px;
    display: block;
    border-radius: 50%;
    border: 1px solid #00e0d0;
}

.carousel-controller li a:hover,
.carousel-controller li a.active {
    background-color: #FFF;
    border: 1px solid #FFF;
}

#container .tj-section2 {
    width: 970px;
    display: block;
    height: 400px;
    border: 1px solid #000;
    background-size: cover;
    margin: 0 auto;
}

#container .tj-section2 .column-left-story {
    float: left;
    width: 400px;
}

#container .tj-section2 .column-right-story { 
    float: left;
    width: 500px;
    text-align: center;
    margin-top: 70px;
}


.column-left-story .StoryImage {
    width: 128px;
    height: 128px;
    margin: 70px 100px;
    display: block;
}

.column-right-story h1{
    
    margin:0px;
}

#container .tj-section3{
    width: 100%;
    height: 550px;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/section3background.png');   
}

.tj-section3 .watchlogo{
    text-align: center;
    padding-top: 190px;
    
}

#container .tj-section4{
    height:750px;
    width:960px;
    margin: auto auto; 
    text-align: center; 
}

.tj-section4 .row1{
    height:290px;
    padding-top: 65px;
}

.tj-section4 .row{
    height:230px;
    float:left;
    margin-bottom: 140px;

}

.tj-section4 .row .row2-col{
    float: left;
    width:320px;

}

#container .tj-section5{

    height: 710px;
    width:100%;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/Section4/section4.png');   

     
}

.tj-section5 .container{
    margin: auto auto; 
    width:960px;
    height:100%;



}
.tj-section5 .container .header{
    text-align:center;
    margin: auto auto; 
    color:white;
}

.tj-section5 .container .TeamContainer{
    float:left;
    width:100%;
    text-align:center;
    margin: auto auto;
    padding-top: 30px;

}

.TeamContainer .TeamPicture{
    float:left;
    height:230px;
    width:220px;
    overflow:hidden;
    margin-right: 20px;
}

.TeamContainer .TeamInfo{
    border: 0.5px;
    height:78px;
    width:220px;
    border-color: white;
    border-style: solid;
    float:left;
    margin-right:17px;
    color:white;
}

.TeamContainer .TeamInfo h3{
    
    margin-bottom: 0;

}
.TeamContainer .TeamInfo h4{
    margin-top: 0;
}

#container .tj-section6{
    height: 740px;
    width: 100%
}

.tj-section6 .header{
    width:960px;
    height:150px;
    text-align:center;
    margin: auto auto;
    background-color: black;

}

.tj-section6 .header .left-col{
    float: left;
    padding-top: 70px;
    padding-bottom: 60px;
}
.header .left-col h2{
    float:left;
    margin: 0;
}

.tj-section6 .header .right-col{
    float: right;
    padding-top: 70px;
    padding-bottom: 60px;
    
}

.header .right-col h4{
    float:left;
    margin: 0;
}
.header .right-col img{
    float:right;
    color:black;

}
.tj-section6 .images{
    width:100%;
    height: 400px;
    

}

.tj-section6 .footer{
    width: 960px;
    height: 180px;
    text-align: center;
    margin:auto;
}

.tj-section6 .footer .button-sm-light {
    width: 120px;
    height: 40px;
    color: #00e0d0;
    font-size: 12px;
    background: none;
    border-radius: 2px;
    border: 1px solid #00e0d0;
    margin: 70px 0px;
}

#container .tj-section7{
    height: 500px;
    width: 100%;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/Section7/background.png');   

}

.tj-section7 .column{
    width: 960px;  
    padding-top: 140px;
    text-align: center;
    margin: auto;
    color:white;
}
.tj-section7 .column .Message{
    margin:0px 80px 40px 80px;
    
}

.column h4{
    margin-bottom: 0px;    
}
.column h5{
    margin-top: 0px;
    margin-bottom: 35px;
}

.tj-section7 .Footer{
    height: 122px;
    

}

.tj-section7 .Footer .Column{
    width: 470px;
    height:100%;
    margin: auto;
    text-align: center;

}

.Footer .Column .img{
    width: 45px;
    height: 45px;
    float: left;
    color: black;
    padding: 10px;
}
.Footer .Column .arrow{
    width: 45px;
    height: 45px;
    float: left;
    padding: 20px 10px 0px 10px;
}

.Footer .Column .img3{
    width: 72px;
    height: 72px;
    float: left;
    padding-bottom: 10px;
}

#container .tj-section8{
    height: 654px;
    width:100%;
    margin: auto;
    text-align: center;
}
.tj-section8 .column{
    
    padding: 60px 10px 70px 10px;
    width:960px;
    
    height: 100%;
    margin: auto;
}

.tj-section8 .column .col-left{
    float: left;   
    height: 100%;
    width: 480px;
}

.tj-section8 .column .col-right{
    float: left;   
    height: 100%;
    width: 480px;

}

.tj-section8 .column .col-left h1{
    float: left;
}

.tj-section8 .column .col-left .inputbox{
    float:left;
    width: 460px;
    margin-right: 18px;
    height: 43px;
    margin-bottom:24px;
    padding-left: 20px;
}

.tj-section8 .column .col-left .biginput{
    height: 200px;
    width: 460px;
    padding-left: 20px;
    margin-right: 18px;
    margin-bottom: 23px;
    float: left;
    padding-top: 20px;
}

.button-sm-dark500 {
    float:left;
    width: 120px;
    height: 40px;
    color: #00e0d0;
    font-size: 12px;
    background: none;
    border-radius: 2px;
    border: 1px solid #00e0d0;
}

.tj-section8 .column .col-right .ImageBox{
    padding-left: 80px;

    float:left;
    width: 160px;
    height: 90px

}

#container .tj-section9{
    width: 100%;
    height:400px;
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/Section9/background.png');

} 

.tj-section9 .rowfooter{
    width: 960px;
    height: 100%;
    padding: 60px 10px 70px 10px;
    margin:auto;
}

.tj-section9 .rowfooter .column-left{
    margin-left: 20px;
    height: 270px;
    width: 300px;
    float:left;
}

.tj-section9 .rowfooter .column-middle{
    margin-left: 20px;
    float:left;
    width: 310px;
    height: 270px;
}

.tj-section9 .rowfooter .column-right{
    ;
    width: 291px;
    float:left;
    height: 270px;
    color: white;
}
.rowfooter .column-left .row1 {
    margin-bottom: 32px;
}


.rowfooter .column-left .row2{
    color:white;
    padding-bottom: 70px;
}
.rowfooter .column-left .row2 p{
    margin-top: 0;
}
.rowfooter .column-left .row3{
    float: left;
}
.rowfooter .column-left .row3 h5{
    float: left;
    color: white;
    padding-right: 20px;
}

.rowfooter .column-middle{
    float:left;
    color: white;

}
.rowfooter .column-middle .row2{
    float: left;
    color: white;
    width: 100%;
    margin-bottom: 10px;
}
.rowfooter .column-middle h3{
     margin-top: 0px;
     margin-bottom: 32px;
}
.rowfooter .column-middle .row2 p{
    float: left;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom:0px;
    width: 280px;
}

.rowfooter .column-middle .row2 img{
    float: left;
    color: white;
    padding-top: 10px;
    width: 15px;
}


.rowfooter .column-right h3{
     margin-top: 0px;
     margin-bottom: 32px;
     
}

.rowfooter .column-right .row2 .inputbox{
    float:left;
    width: 210px;
    margin-right: 10px;
    height: 44px;
    
    margin-bottom:14px;
    text-align: center;
}
.rowfooter .column-right .row2 .letter{
    float: left;
    height: 47px;
    width: 70px;
    background-color: grey;
    border:2px;
}
.rowfooter .column-right .row3{
    float: left;
}

.rowfooter .column-right .row3 .imagebox{
    float: left;
    height: 33px;
    width: 33px;
    margin-right: 10px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}